benford-py==0.2.7
convertdate==2.2.1
cycler==0.10.0
dplython==0.0.7
et-xmlfile==1.0.1
holidays==0.10.2
jdcal==1.4.1
kiwisolver==1.2.0
korean-lunar-calendar==0.2.1
matplotlib==3.3.0
numpy==1.19.0
openpyxl==3.0.4
pandas==1.0.5
Pillow==7.2.0
PyMeeus==0.3.7
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
readpy==0.0.1.dev2
six==1.15.0
tidypython==0.0.1.dev3
xlrd==1.2.0
